#add-book {
  max-width: 100%;
  width: 400px;
  align-self: center;
  justify-self: center;
  padding: 10px;
  color: white;
  background-color: teal;
  overflow: hidden;
  grid-column: 1 / -1;
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    width: auto;
    margin-bottom: 0;
    padding: 7px;
    float: right;
  }
  .error {
    display: none;
  }
}