#hero {
  background-image: url('../../static/img/background-books.png');
  height: 300px;
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 20px;
  color: teal;
  /* text-shadow: 2px 2px 5px teal; */
  background-repeat: no-repeat;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 10px 0 10px;
  p {
    margin: 0;
    text-align: center;
  }
  p + p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  #hero {
    height: 250px;
    p {
      font-size: 1.6rem;
    }
    p + p {
      font-size: 1.3rem;
    }
  }
}
@media screen and (min-width: 800px) {
  #hero {
    height: 400px;
  }
}