* {
  box-sizing: border-box;
}
body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', system-ui, sans-serif;
  font-size: 16px;
  background-color: #F4EEE1;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Jost', system-ui, sans-serif;
  font-weight: 600;
  margin-top: 0;
}
h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.2rem;
}